
.App {

  text-align: center;
  padding: 50px;
  
}


.card{
  margin: 6rem;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: center;
  background: #fff;
}

button{
  font-size: larger;
  background-color: white;
  width: 3rem;
  height: 3rem;
}

.quote{
 font-size: 4rem;

}